.Search_Box{
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-top: 1rem;
  background-color: white;
  display: flex;
}
.Search_Box--input{
  width: 80%;
  padding: 10px;
  outline: none;
}
.Search_Box--btn{
  background-color: darkslateblue;
  width: 20%;
  padding: 10px;
  color: white;
  border: 2px solid darkslateblue;
}
.main_content {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

.main_content .main_content_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.main_content .main_content_grid img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
}